* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: 1fr 2.1fr 1fr;
  background: #171717;
  color: #fff;
}

:root {
  --bg-color: #15202b;
}